*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build/generated
/app/build/intermediates
/app/build/test-results
/app/build/outputs/logs
/app/build/tmp
/captures
.externalNativeBuild
/build
